<hgroup>
  <div id="header-inner" style="padding-bottom: 30px">
    <span class="first"><a href="{{ root_url }}/">{{ site.title }}</a></span>
    <p>Gareth Rushgrove</p>
  </div>

  <div id='carbonads-container' style="position: absolute; top: 30px; right: 55px;">
    <div class='carbonad' style="height: 118px !important; width: 300px !important;">
      <div id='carbon'></div>
      <script type='text/javascript'>
        //<![CDATA[
          var z = document.createElement("script");
          z.type = "text/javascript";
          z.async = true;
          z.src = "http://engine.carbonads.com/z/12119/carbon_2_1_0_HORIZ";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(z, s);
        //]]>
      </script>
    </div>
  </div>

</hgroup>
