<header>
<hgroup>
<h1><a href="/">Morethanseven</a></h1>
<p>The blog of Gareth Rushgrove</p>

<div id='carbonads-container'>
  <div class='carbonad'>
    <div id='carbon'></div>
    <script type='text/javascript'>
      //<![CDATA[
        var z = document.createElement("script");
        z.type = "text/javascript";
        z.async = true;
        z.src = "http://engine.carbonads.com/z/12119/carbon_2_1_0_HORIZ";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(z, s);
      //]]>
    </script>
  </div>
</div>

</hgroup>
</header>
